/* App.css */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 20px; /* กำหนดระยะห่างจากด้านบนของเว็บเพจ */
}

.timeseries-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 40px;
}

.map-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* จัดข้อความไว้ทางซ้าย (หรือ flex-end สำหรับขวา) */
  margin-top: -80px;
  margin-left: 800px; /* ปรับตำแหน่งด้วยตัวเลข px เพื่อเลื่อนไปทางขวา */
}



.container {
  display: flex;
  margin-top: 70px; /* เพิ่มส่วนนี้เพื่อเลื่อนทั้งสองลงมา */
}

.content {
  display: flex;
  flex-direction: row;
}

.left-content {
  flex: 1;
  margin-right: 100px;
}

.right-map {
  flex: 1;
}

.thai-map {
  position: relative; /* Positioning relative for child elements */
  width: 800px;
  height: 700px;
  /* อาจจะมีการปรับขนาดหรือการจัดเรียงอื่น ๆ ตามต้องการ */
}

.color-bar-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -50px;
    left: 1200px;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.gradient-bar {
    width: 700px;
    height: 30px;
    background: linear-gradient(to right, 
        #313695, 
        #1cc3ff, 
        #91cf60, 
        #d9ef8b, 
        #fee08b, 
        #fc8d59, 
        #f46d43, 
        #d73027, 
        #a50026);
    border: 1px solid #000;
    margin-bottom: 8px;
}

.temperature-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.temperature-labels span {
    font-size: 14px;
}

.region-selector select {
  width: 250px;
  padding: 12px;
  font-size: 18px;
  margin: -500px 0;
  margin-bottom: 10px;
}